* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fontstack;
  color: $primary-color;
  background: #fff;
  font-size: 1.1em;
  line-height: 1.5em;
}

.container {
  margin: 0 auto;
  max-width: $LGdesktop;
}

a {
  text-decoration: none;
  color: inherit;
}

.container__content {
  width: 100%;
  background: #fff url("/images/BackgroundTile.png") repeat center;
}