// fonts

$fontstack: Helvetica, Arial, sans-serif;
$brandfont: "Mr Dafoe", cursive;

// font-size

$headlineSize: 4em;

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

// font colors

$primary-color: #000;
$secondary-color: #515151;
$tertiary-color: #707070;

// backgrounds

$white: #fff;
$lightgrey: #e6e6e6;
$highlight: rgba(168, 253, 239, 0.7);

// borders

$primary-border: 2px solid $primary-color;
$border-radius: 3px;

// shadows

$highlightShadow: 1px 1px 0 0 #fff, 6px 6px 0 0 $highlight;

// background highlighter

$backgroundhighlight: linear-gradient(
    5deg,
    rgba(168, 253, 239, 0.7),
    rgba(230, 254, 250, 0.4),
    rgba(230, 254, 250, 0.4),
    rgba(230, 254, 250, 0.4),
    rgba(168, 253, 239, 0.7)
  ),
  linear-gradient(
    90deg,
    rgba(168, 253, 239, 1),
    rgba(230, 254, 250, 0.2),
    rgba(230, 254, 250, 0.2),
    rgba(230, 254, 250, 0.2),
    rgba(230, 254, 250, 0.2),
    rgba(230, 254, 250, 0.2)
  );

// image sizes

$smallImage: 100px;
$medImage: 200px;
$largeImage: 300px;

// break-points
// starting from a mobile layout

$tablet: 425px;
$desktop: 768px;
$LGdesktop: 1281px;
