.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile {
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.logo {
  width: 67%;
  position: absolute;
  top: 0;
  transform: translateY(-40%);
}

.highlightBox {
  background: $highlight;
  background-image: $backgroundhighlight;
  border-left: $leftborderBGhighlight;
  border-radius: 8px;
  width: 100%;
  height: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_image img {
  width: $medImage;
  border-radius: 50%;
  border: 4px solid $primary-color;
}

.blurb {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hyphen {
  font-size: 4em;
  line-height: 1em;
}

.hyphen_1 {
  align-self: flex-start;
  margin-left: -32px;
  margin-bottom: -30px;
}

.hyphen_2 {
  align-self: flex-end;
  margin-right: -18px;
}

.highlightBox__blurb {
  background: $highlight;
  background-image: $backgroundhighlight;
  border-left: $leftborderBGhighlight;
  border-radius: 8px;
  display: flex;
  transform: rotate(-3deg);
}

.blurb__jobs {
  display: flex;
  flex-direction: column;
}

.blurb__item {
  padding: 10px 15px;
}

@media (orientation: landscape) and (max-height: 600px) {
  .landingPage {
    height: inherit;
    padding-top: 30px;
  }
}

// $tablet = 425px

@media (min-width: $LGdesktop) {
  .landingPage {
    flex: 1;
  }
}