.landingPage {
  // margin-top: 45px;
  // height: calc(100vh - 45px);
  // padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile {
  // margin: 0 auto;
  text-align: center;
}

.headline {
  font-family: $brandfont;
  padding: 20px;
  font-size: $headlineSize;
}

.highlightBox {
  // margin-top: 20px;
  background: $highlight;
  border-radius: 8px;
  width: 260px;
  height: 300px;
}

.profile_image img {
  width: $medImage;
  border-radius: 50%;
  border: 4px solid $primary-color;
}

.blurb {
  font-style: italic;
  // margin-top: calc(0.5 * #{$medImage} + 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hyphen {
  font-size: 4em;
  line-height: 1em;
}

.hyphen_1 {
  align-self: flex-start;
  margin-left: -32px;
  margin-bottom: -30px;
}

.hyphen_2 {
  align-self: flex-end;
  margin-right: -18px;
}

.highlightBox__blurb {
  background: $highlight;
  border-radius: 8px;
  // padding: 20px;
  display: flex;
  transform: rotate(-3deg);
}

.blurb__jobs {
  display: flex;
  flex-direction: column;
}

.blurb__item {
  padding: 10px;
}

@media (orientation: landscape) and (max-height: 600px) {
  .landingPage {
    height: inherit;
    padding-top: 30px;
  }
}

// $tablet = 425px