.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testimonials__item {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  max-width: 360px;
  border: $primary-border;
  box-shadow: $highlightShadow;
}

.testimonials__img {
  width: 100px;
  border: $primary-border;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: -4px 0 0 4px $white;
}

.profileTitle {
  margin-top: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.profileTitle__item {
  background: $backgroundhighlight;
  border-radius: $border-radius;
}

.profileTitle__name {
  font-weight: bold;
  padding: 5px 5px 0 0;
}

.profileTitle__title {
  padding: 5px 0 5px 0;
}

.profileTitle__business {
  font-weight: lighter;
  font-style: italic;
  padding: 5px 0 0 5px;
}

.testimonials__article {
  padding: 30px 8px 40px 8px;
  text-align: justify;
  color: $tertiary-color;
}

@media (min-width: $tablet) {
  .testimonials__item {
    margin: 50px 15px;
  }

  .testimonials__article {
    padding: 30px 15px 40px 15px;
  }
}

@media (min-width: $desktop) {
  .testimonials__article {
    padding: 30px 15px 40px 15px;
  }
}
