.btn {
  display: flex;
  margin-left: 20px;
}

.btn__contact {
//   background: $highlight;
  background-image: $backgroundhighlight;
  border-left: $leftborderBGhighlight;
}

.btn__link {
  color: $tertiary-color;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn__link:hover {
  color: $primary-color;
}
