.btn {
  display: flex;
  margin-left: 20px;
}

.btn__contact {
  background: $backgroundhighlight;
}

.btn__link {
  color: $tertiary-color;
  text-decoration: none;
  padding: 10px;
  border-radius: $border-radius;
}

.btn__link:hover {
  color: $primary-color;
}
