.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $highlight;
    border: 2px solid $primary-color;
    margin: 0 10px;
}

.divider {
    margin-top: -15px;
    display: flex;
    justify-content: center;
}