.headerBox {
    padding: 10px;
    border: 2px solid $primary-color;
    background: $white;
    box-shadow: $highlightShadow;
    text-align: center;
    z-index: 10;
}

 .headerBox__whyPhiliy {
    margin-bottom: -22px;
 }