.headerBox {
    padding: 10px;
    border: 2px solid $primary-color;
    background: $white;
    box-shadow: $highlightShadow;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    width: max-content;
}

 .headerBox__whyPhiliy {
    margin-top: -87px;
 }